[
  {
    "id": "2.2.1.0",
		"docker_image":"jengdocker01.rnd.j.intershop.de:5000/iom-centos7-env:2.2.1.0-SNAPSHOT",
		"oms_etc":"F:\\docker\\2.2.1.0\\etc",
		"oms_app":"F:\\svn\\oms\\trunk",
		"oms_log":"F:\\docker\\2.2.1.0\\log"
  },
  {
    "id": "SB_2.1.7.X",
		"docker_image":"jengdocker01.rnd.j.intershop.de:5000/iom-centos7-env:SB_2.1.7.X-SNAPSHOT",
		"oms_etc":"F:\\svn\\oms\\trunk\\oms.deployment\\etc",
		"oms_app":"F:\\svn\\oms\\trunk",
		"oms_log":"F:\\docker\\SB_2.1.7.X\\log"
  }
]
