---
### description

### required parameters

# id: must be a unique identifier
# path: path to a local folder that should hold configuration and documentation data
# docker_image: docker image that should be used for the container.
#               Please use https://rnd-docker-dev.test.intershop.de/v2/_catalog to see all repositories and search for the 'iom/iom-*' repositories (e.g. iom/iom-trunk).
#               Use the specific repository url (e.g. https://rnd-docker-dev.test.intershop.de/v2/iom/iom-trunk/tags/list) to get the available images.
# oms_src: path to your source folder
# docker_db_image: name of the docker postgres image

### optional parameters

# timezone: used to set the timezone for the iom container and the dockered database (default: Europe/Berlin)
# oms_etc: path to your local etc folder - if not set an 'etc' folder will be created within the path folder
# oms_log: path to your local log folder - if not set a 'log' folder will be created within the path folder
# oms_app: path to your local application
# oms_db_name: name of the database (default: oms_db)
# oms_db_user: name of the database user (default: oms_user)
# oms_db_password: password of the database user (default: OmsDB)
# oms_dump: name of the database dump (default: latest test data dump)
# oms_skip_business_config: indicates if the business config should be skipped (default: false)

- id: trunk
  timezone: Europe/Berlin
  path: F:\docker\trunk
  docker_image: rnd-docker-dev.test.intershop.de/iom/iom-trunk:2.4.0.0-SNAPSHOT
  oms_app: F:\svn\oms\trunk
  oms_src: F:\svn\oms\trunk
  docker_db_image: postgres:9.5
  oms_db_name: oms_db
  oms_db_user: oms_user
  oms_db_password: OmsDB
  oms_db_dump: OmsTestData.2.4.0.0.dmp.gz
  oms_skip_business_config: false
- id: SB_2.1.X.0
  path: F:\docker\SB_2.1.X.0
  docker_image: rnd-docker-dev.test.intershop.de/iom/iom-2-1-x-0:2.1.11.0-SNAPSHOT
  oms_etc: F:\svn\oms\SB_2.1.X.0\oms.deployment\etc
  oms_log: F:\docker\SB_2.1.X.0\log
  oms_src: F:\svn\oms\SB_2.1.X.0
  docker_db_image: postgres:9.5
