apiVersion: batch/v1
kind: Job
metadata:
  name: provide-stored-procedures-job
spec:
  ttlSecondsAfterFinished: 0
  template:
    spec:
      containers:
      - name: provide-stored-procedures
        image: ${IOM_PSQL_IMAGE}
        args:
        - /bin/sh
        - -c
        - cd /tmp/tc_stored_procedures && ./psql_execute_dir.sh -U ${DB_USER} -h postgres-service -p ${FORWARD_PORT_DB} -d ${DB_NAME} -n
        volumeMounts:
        - name: stored-procedure-volume
          mountPath: /tmp/tc_stored_procedures
      restartPolicy: OnFailure
      volumes:
      - name: stored-procedure-volume
        hostPath:
          path: ${IOM_APP_SRC_DIR}/oms.tests/tc_stored_procedures