### Static variables

ID=2.3.0.0
INDEX=5
HOST_IOM=localhost
PROJECT_PATH=F:/svn/oms/projects/iom_dev_env

PORT_OFFSET=10
PORT_IOM=8080
PORT_DEBUG=8787
PORT_DB=5432
PORT_WILDFLY=9990

OMS_DB_NAME=oms_db
OMS_DB_USER=oms_user
OMS_DB_PASSWORD=OmsDB
OMS_DB_DUMP=OmsDB.initial.2.3.0.0.sql.gz
