### required configuration parameters

# ID is used to create unique names for docker instances
ID=${ID}

################################################################################
# Docker Image settings
################################################################################

# image pull policy defines when to pull docker images
# if left empty, it defaults to "Always", which makes development easy, as
# always the newest version of requested docker image will be used. Can be set
# to any value allowed by ImagePullPolicy.
# see https://kubernetes.io/docs/concepts/configuration/overview/#container-images
# IMAGE_PULL_POLICY=Always

# postgres image (name:tag)
DOCKER_DB_IMAGE=postgres:11

# mailhog image (name:tag)
MAILHOG_IMAGE=mailhog/mailhog

# iom psql image (name:tag)
IOM_PSQL_IMAGE=docker-build.rnd.intershop.de/intershop/iom-psql:3.10

# iom dbaccount image (name:tag)
IOM_DBACCOUNT_IMAGE=docker-build.rnd.intershop.de/intershop/iom-dbaccount:1.0.0.0-SNAPSHOT

# iom dbinit image (name:tag)
# IOM_DBINIT_IMAGE=docker-build.rnd.intershop.de/intershop/iom-dbinit:2.16.0.0-SNAPSHOT
IOM_DBINIT_IMAGE=docker-build.rnd.intershop.de/intershop/iom-caas-config-com.intershop.oms.ci-project:2.16.0.0-SNAPSHOT-1.0.0.0-SNAPSHOT

# iom app image (name:tag)
# IOM_APP_IMAGE=docker-build.rnd.intershop.de/intershop/iom-app:2.16.0.0-SNAPSHOT
IOM_APP_IMAGE=docker-build.rnd.intershop.de/intershop/iom-caas-customization-com.intershop.oms.ci-project:2.16.0.0-SNAPSHOT-1.0.0.0-SNAPSHOT

################################################################################
# IOM runtime configuration
################################################################################

# CaaS projects may have environment specific configurations, test data, etc.
# CAAS_ENV_NAME assigns the environment name to the installation.
CAAS_ENV_NAME=ci

# hostname to be used for the OMS_PUBLIC_URL
# if commented out, HOST_IOM defaults to ${HOST_IOM}
# HOST_IOM=${HOST_IOM}

################################################################################
# database settings
################################################################################

# postgres arguments
POSTGRES_ARGS="[ \"-N\", \"500\", \"-c\", \"max_prepared_transactions=100\", \"-c\", \"log_line_prefix='%a %m %u %i [%p] '\", \"-c\", \"log_min_duration_statement=500\" ]"

# Keep database data
# ------------------------------
# If you want to keep database data even after a kubernetes restart, you have to set
# KEEP_DATABASE_DATA to true, otherwise false.
KEEP_DATABASE_DATA=true

################################################################################
# log seetings
################################################################################

# log-level for different scopes of iom-application. Supported levels are:
#   FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL
OMS_LOGLEVEL_CONSOLE=ERROR
OMS_LOGLEVEL_IOM=ERROR
OMS_LOGLEVEL_HIBERNATE=ERROR
OMS_LOGLEVEL_QUARTZ=ERROR
OMS_LOGLEVEL_CUSTOMIZATION=ERROR

# log-level of helper scripts (dbmigrate, etc.). Supported levels are:
#   ERROR, WARN, INFO, DEBUG
OMS_LOGLEVEL_SCRIPTS=INFO

################################################################################
# development settings
################################################################################

# Share the IOM source directory
#
# For serveral purposes (e.g geb running tests and ws tests), the IOM source
# directory has to be shared with the developer VM.
#
# Set IOM_APP_SRC_DIR to directory on your local disk, containing IOM sources.
# Additionally the drive containing the IOM sources has to be defined as share
# in Docker Desktop.
IOM_APP_SRC_DIR="D:\svn\oms\trunk"

# Share the CAAS project directory
CAAS_SRC_DIR="D:\svn\caas\trunk"

# The following config variables are all using the same pattern:
# If you want to use a certain aspect of development, you have to define the
# location of custom files, that should be used by the developer VM.
# You have to make sure, that the referenced directories are shared with the
# developer VM. As the preconfigured values are all being located withing
# IOM_APP_SRC_DIR, it's suffient if this directory is shared.

# Deployment of custom artifacts
#CUSTOM_APPS_DIR="$IOM_APP_SRC_DIR/oms.deployment/applications"

# Development of custom mail templates
#CUSTOM_TEMPLATES_DIR="$IOM_APP_SRC_DIR/oms.deployment/var/templates"

# Development of custom xsl templates
#CUSTOM_XSLT_DIR="$IOM_APP_SRC_DIR/bakery.transform/transform-core/src/main/resources/document/xslt"

# Development of migration scripts
#CUSTOM_DBMIGRATE_DIR="$IOM_APP_SRC_DIR/postgres"

# load/create custom dumps
#CUSTOM_DUMPS_DIR="$IOM_APP_SRC_DIR/postgres/dumps"

# Development of custom sql-config
#CUSTOM_SQLCONF_DIR="$CAAS_SRC_DIR/configuration/src/sql-config"

# Development of custom json-config
#CUSTOM_JSONCONF_DIR="$CAAS_SRC_DIR/configuration/src/json-config"

################################################################################
# access to developer VM
################################################################################

# Access to shared FS
# -------------------
# If you want to access the shared file-system of IOM from outside the developer
# VM, you have to share the directory with the developer VM, which should be
# used as shared FS by IOM.
# If you don't want to access the shared file-system of IOM from outside the
# developer VM, the according variable can be left commented out.
# CUSTOM_SHARE_DIR="${CustomShareDirDefault}"

# Access to logs
# --------------
# If you want to access the log files of all containers outside the developer
# VM, you have to share the directory with the developer VM, which should be
# used as log directory.
# If you don't want to access the log files of all containers from outside the
# developer VM, the according variable can be left commented out.
# CUSTOM_LOG_DIR="${CustomLogDirDefault}"

################################################################################
# multi instance settings
################################################################################

# INDEX is used in combination with PORT_OFFSET to auto-generate a port
# forwarding for all used ports in order to run multiple iom environments in
# parallel
# INDEX=0

# PORT_OFFSET is used in combination with INDEX to auto-generate a port
# forwarding for all used ports in order to run multiple iom environments in
# parallel
# PORT_OFFSET=10
